<!-- app/views/shared/_sidebar.html.erb -->
<nav class="w-1/6 bg-gray-800 text-white p-4 h-screen">
  <h2 class="text-xl font-bold mb-4">Menu</h2>
  <ul>
    <li><%= link_to "Dashboard", dashboard_path, class: "block py-2 hover:bg-gray-700 rounded" %></li>
    <%= link_to "Products", products_path, class: "block py-2 px-4 hover:bg-gray-700" %>
    
     <%= link_to 'Orders', orders_path, class: "block py-2 px-4 rounded hover:bg-gray-700" %>
  
    <li><%= link_to "Settings", "#", class: "block py-2 hover:bg-gray-700 rounded" %></li>
    <li>
      <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "block py-2 hover:bg-red-600 rounded text-red-300" %>
    </li>
  </ul>
</nav>

